{
  "presets": ["react", "stage-2", ["env", { "modules": false }]],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    "react-hot-loader/babel"
  ],
  "comments": false
}