
@font-face {font-family: "icons";
  src: url('iconfont.eot?t=1531992480307'); /* IE9*/
  src: url('iconfont.eot?t=1531992480307#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1531992480307') format('woff'),
  url('iconfont.ttf?t=1531992480307') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.icons {
  font-family:"icons" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.msnui-meshangbao:before { content: "\e6b6"; }

.weizhi:before { content: "\e681"; }

.shijian:before { content: "\e630"; }

.tianqi:before { content: "\e631"; }

.daigonggao:before { content: "\e607"; }

.daijiejue:before { content: "\e62e"; }

.shijian1:before { content: "\e6c1"; }

.weizhi1:before { content: "\e63e"; }

.tousu:before { content: "\e60b"; }

.daishenhe:before { content: "\e606"; }

.leida:before { content: "\e640"; }

.daiheshi:before { content: "\e65c"; }

.daiban:before { content: "\e629"; }

.shijian2:before { content: "\e663"; }

.weizhi2:before { content: "\e61b"; }

.lukuang:before { content: "\e60d"; }

.daibanshixiang:before { content: "\e633"; }

.shijian3:before { content: "\e72d"; }

.hezhang:before { content: "\e60e"; }

.weizhi3:before { content: "\e61a"; }

.tousu1:before { content: "\e6dd"; }

.weizhi4:before { content: "\e654"; }

.weixing:before { content: "\e60f"; }

.lianjie:before { content: "\e63c"; }

.weizhi5:before { content: "\e600"; }

.weixing1:before { content: "\e6ad"; }

