
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1525621004641'); /* IE9*/
  src: url('iconfont.eot?t=1525621004641#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1525621004641') format('woff'),  
  url('iconfont.ttf?t=1525621004641') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1525621004641#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.t-daijiejue:before { content: "\e62e"; }

.t-daishenhe:before { content: "\e606"; }

.t-daiheshi:before { content: "\e65c"; }

.t-daiban:before { content: "\e629"; }

